@page "/"
@page "/{Token}"
@attribute [StreamRendering]


<PageTitle>Fruit SA - Home</PageTitle>
<div class="row text-center">
    <h1>Welcome to FruitSA</h1>

    <p>A collection of Products and their Categories</p>
  
</div>


@code {
    [Parameter]
    public string Token { get; set; } = "";

    [CascadingParameter]
    public EventCallback<string> notifyLayout{ get; set; }   
    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(Token))
        {                      
            notifyLayout.InvokeAsync(Token);
        }
        
    }
} 

