@using System.IdentityModel.Tokens.Jwt
@inherits LayoutComponentBase

<style>
    .top-row i{
        margin-left:10px;
    }
</style>
<div class="page">
    <div class="sidebar">             
        <NavMenu Token="@Token" />
    </div>  
    <main>
        <div class="top-row px-4">
        @if (!string.IsNullOrEmpty(Token))
            {
                <i class="fas fa-circle" style="color:green; margin-right:10px;"></i>
                @Email
            }   
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-whatsapp"></i>
            <i class="fab fa-telegram"></i>
        </div>
        <article class="content px-4">
            <CascadingValue Value="event_login">
                @Body
            </CascadingValue>
        </article>
    </main>
    
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
@code{
    public string Token { get; set; } = "";
    public string Email { get; set; }
    EventCallback<string> event_login => EventCallback.Factory.Create(this, (Action<string>)NotifyLayoutWithLogin);
    private void NotifyLayoutWithLogin(string Token)
    {
        if(!string.IsNullOrEmpty(Token))
        {
            this.Token = Token;
            var handler = new JwtSecurityTokenHandler();
            var decodedValue = handler.ReadJwtToken(Token);
            var emailClaim = decodedValue.Claims.FirstOrDefault(claim => claim.Type == "Email");
            Email = emailClaim.Value;

        }
        
    }
}