@using FruitSA.Web.Components.Pages
@using FruitSA.Web.Providers
@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer

<style>
    .nav-link span{
        margin-right:5px;
    }
</style>
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FruitSA App</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
      
            <div class="nav-item px-3">
                <NavLink class="nav-link" @onclick="Home" Match="NavLinkMatch.All">
                    <span class="fas fa-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>
       
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/products" Match="NavLinkMatch.All">
                    <span class="fas fa-cubes" aria-hidden="true"></span> Products
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/categories">
                    <span class="fas fa-table" aria-hidden="true"></span> Categories
                </NavLink>
            </div>

            <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="Logout" style="">
                <span class="fas fa-unlock" aria-hidden="true"></span> Logout
            </NavLink>
        </div>
     
    </nav>    
</div>
@{
    @inject NavigationManager NavigationManager;
   
    void Logout()
    {
        LoginBase.authToken = "";
        LoginBase.Email = "";
        
        NavigationManager.NavigateTo("/login");

    }

    void Home()
    {
        
        if(LoginBase.authToken == "")
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            NavigationManager.NavigateTo($"/{ LoginBase.authToken}");
        }
    }
}