@using Microsoft.AspNetCore.Components.Authorization
<style>
    .nav-link span{
        margin-right:5px;
    }
</style>
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FruitSA App</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <CascadingAuthenticationState>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="fas fa-home" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
            
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/products" Match="NavLinkMatch.All">
                        <span class="fas fa-cubes" aria-hidden="true"></span> Products
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/categories">
                        <span class="fas fa-table" aria-hidden="true"></span> Categories
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Identity/Account/Logout">
                        <span class="fas fa-unlock" aria-hidden="true"></span> Logout
                    </NavLink>
                </div>
            </Authorized>
            
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Identity/Account/Login">
                        <span class="fas fa-user-lock" aria-hidden="true"></span> Login
                    </NavLink>

                </div>
            </NotAuthorized>
        </AuthorizeView>
        </CascadingAuthenticationState>
    </nav>
    
</div>

